<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1Line ToDoList</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header class="ly_header">
    <div class="ly_header_inner">
      <h1 class="bl_logo__head">
        <a href="/">
          <img src="/todo_logo.png" alt="1line to do list" class="bl_logo__img">
        </a>
      </h1><!-- /bl_logo__head -->
      <!-- ヘッダーナビ -->
      <div class="ly_header_nav">
        <ul class="bl_header_nav">
        <% if session[:user_id] %>
          <li>
            現在ログインしているユーザーのid:
            <%= session[:user_id] %>
          </li>
          <li class="el_header_navitem">
            <%= link_to("やること一覧", "/") %>
          </li>
          <li class="el_header_navitem">
            <%= link_to("がんばった一覧", "/tasks/fin_index") %>
          </li>
          <li class="el_header_navitem">
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li class="el_header_navitem">
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <li class="el_header_navitem">
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li class="el_header_navitem">
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
        </ul>



        </ul><!-- /bl_header_nav-->
      </div><!-- /ly_header_nav -->
    </div><!-- /ly_header_inner -->
  </header>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
